@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background.png");
    background-size: 100% 100%;
    object-fit: contain;
    height: 100vh;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    overflow-y: hidden;
}

header {
    /* text-shadow: 2px 2px 1px black;
    text-decoration-line: none; */
    /* border: solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    width: 90%;
}

.header h1 {
    color: #fff;
}

section{
    margin-top: 300px;
    position: relative;
}

#weatherContainer {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 30px;
    border-radius: 20px;
    position: absolute;
    visibility: hidden;
}

#weatherContainer h1 {
    /* padding: 10px; */
    font-size: 42px;
    font-family: "Lucida Sana Unicode", "Lucida Grande", sans-serif;
}

.searchContainer input {
    padding: 15px 40px;
    width: 300px;
    border-radius: 25px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px black ;
    /* z-index: 1; */
}

/* .sack {
    position: relative;
} */

.searchContainer {
    display: flex;
}

.searchContainer button {
    padding: 13px;
    border-radius: 25px;
    width: 100px;
    border: transparent;
    background: rgb(48, 163, 209);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.searchContainer button:hover {
    background: skyblue;
}

.searchContainer #searchIcon{
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    margin-left: -290px;
    margin-top: 11px;
    color:gray;
}

.weatherDescription{
    text-align: center;
}

#weatherMain {
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}
#weatherMain div {
    display: inline-block; 
    text-align: center;
}
#temperature {
    font-size: 30px;
    /* vertical-align: 25%; */
    text-align: center;
}
#documentIconImg {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.bottom-details {
    display: block;
    font-size: 15px;
    text-align: right;
}
hr {
    margin-bottom: 20px;
}


@media screen and (max-width: 600px) {
    .header {
        width: 100%;
        justify-content: space-around;
    }

    .header h1 {
        font-size: 25px;
    }

    .searchContainer input {
        width: 240px;
    }
    
    .searchContainer #searchIcon{
        margin-left: -230px;
    }

    .searchContainer button {
        width: 80px;
        font-size: 13px;
    }
}

@media screen and (max-width: 500px){
    .searchContainer{
        margin-top: 20px;
    }

    header{
        flex-direction: column;
    }
}

/*@media screen and (min-width: 770px){
    body{
        background-image: url("../images/Default.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        color: white;
        object-fit: cover;
        height: 100vh;
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;  
    }
    #weatherContainer {
        background-color: rgba(0, 0, 0, 0.25);
        box-shadow: 1px 1px 3px black;
        padding: 30px;
        border-radius: 10px;
        position: absolute;
        visibility: hidden;
    }
    #weatherContainer h1 {
        margin: 5px;
        font-size: 30px;
        font-family: "Lucida Sana Unicode", "Lucida Grande", sans-serif;
    }
    #searchContainer {
        padding: 15px;
        position: absolute;
        top: 5%;
        right : 3%;
    }
    #searchContainer input {
        width: 120px;
        outline: 0;
    }
    #searchContainer button {
        background-color: rgb(1, 159, 200);
        width: 45px;
        outline: 0;
    }
    .searchControl {
        box-shadow: 1px 1px 3px black ;
        border: none;
        border-radius: 5px;
        padding: 10px;
    }
    #weatherMain {
        display: block;
        margin-bottom: 15px;
    }
    #weatherMain div {
        display: inline-block; 
        text-align: center;
    }
    #temperature {
        font-size: 20px;
        vertical-align: 25%;
        text-align: center;
    }
    #documentIconImg {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .bottom-details {
        display: block;
        font-size: 10px;
        text-align: right;
    }
    hr {
        margin-bottom: 10px;
    }
    .footer {
        position: relative;
        top: 425px;
        text-align: center;
        color: #fff;
        padding: 1rem 0;
    }
    
    .footer__title {
        font-size: 10px;
        margin-bottom: 1.5rem;
    }
    
    .footer__icon {
        font-size: 1.0rem;
        color: whitesmoke;
        margin: 0 1rem;
        top: 400px;
    }   
} */